/* Sane border-box sizing */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Cardo", serif;
    font-size: x-large;
    padding: 0;
    background-color: #800000;
}

header, footer, .content {
    position: absolute;
    width: 100%;
    margin: 0;
}

header, footer {
    color: white;
    background-color: #800000;
    overflow: hidden;
}

header {
    top: 0;
    left: 0;
    height: 66px;
    padding: 0 0 0 1em;
    position: fixed;
    top: 0;
    box-shadow: 0px 1px 5px rgba(0,0,0, 0.5);
}

.content {
    top: 66px;
    right: 0;
    bottom: 40px;
    left: 0;
    background-color: #eee;
}

footer {
    bottom: 0;
    left: 0;
    height: 40px;
    padding: 0.25em 0.25em 0.25em 1em;
    font-size: 80%;
}

/* main interface sections*/
section {
    padding: 1em;
    width: 50%;
    overflow: auto;
    position: absolute;
}

#songinfo {
    height: 100%;
    border-right: 1px solid darkgray;
}

#controls {
    padding: 1em;
    border-bottom: 1px solid darkgray;
    left: 50%;
    height: 6em;
}

#playlist {
    left: 50%;
    height: 100%;
    height: calc(100% - 6em);
    top: 6em;
    overflow: scroll;
}

/* random content elements */

header h1 {
    display: inline-block;
    float: left;
    font-size: 200%;
    font-weight: boldest;
    margin: 0 3em 0 0;
}

p, ul, ol {
    margin-top: 0;
}

input {
    font-size: 1.5em;
}

header a, footer a {
    color: white;
}

/* Music controls */
.control {
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0,0,0, 0.5);
    float: left;
    height: 4em;
    width: 4em;
    margin-right: 1em;
    color: darkgray;
    cursor: pointer;
}

.control:active {
    box-shadow: none;
    background-color: #aaa;
    transition: 0.25s all;
    color: white;
}

.control img {
    width: 2.5em;
    height: 2.5em;
    margin: 0.75em;
}

/*.Song and folder UI */
.entry {
    height: 5em;
    border-bottom: 1px solid gray: ;
    background-color: white;
    padding: 1em;
    margin-bottom: 0.5em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.entry.cursor {
    background-color: #8cc;
}

.entry .artist {
    font-size: 75%;
    color: gray;
}

.entry .length {
    color: gray;
    float: right;
}

.entry .icon {
    width: 3em;
    height: 3em;
    float: left;
    margin-right: 1em;
}

/* Clearfix apply where needed */
section:after {
  content:"";
  display:table;
  clear:both;
}

input[type="search"] {
    margin-bottom: 0.5em;
    width: 100%;
}

/* Drag and drop controls */
.directory, .up {
    cursor: pointer;
}

/* Loading indicator */
.loader {
    display: block;
    margin: 3em auto 0em auto;
}

.loader-explanation {
    display: block;
    width: 200px;
    margin: 1em auto;
    color: #666;
    font-size: medium;
    text-align: center;
}
